WELDFLEX_ROBOT_IP=192.168.58.2
WELDFLEX_CONTROLLER_HOST=192.168.58.2
WELDFLEX_PROGRAM_PATH=/fruser/studCycle.lua
WELDFLEX_STUDS_DATA_PATH=/fruser/studs_data.lua
WELDFLEX_FAIRINO_PATH=C:/Users/Gage/Desktop/WeldFlex/fairino-python-sdk-main/windows
WELDFLEX_FTP_USER=fruser
WELDFLEX_FTP_PASS=fruser
PORT=5000
