<div class="coord-table-wrap">
	<table class="coord-table" id="coord-table">
		<thead>
			<tr>
				<th class="drag-col" aria-label="Drag to reorder"></th>
				<th class="num-col">#</th>
				<th>X (mm)</th>
				<th>Y (mm)</th>
				<th class="action-col" aria-label="Actions"></th>
			</tr>
		</thead>
		<tbody id="coord-table-body"></tbody>
		<tfoot>
			<tr class="table-add-row">
				<td colspan="5">
					<button class="btn table-add" type="button" id="add-row-btn">+ Add Row</button>
				</td>
			</tr>
		</tfoot>
	</table>
</div>

<input type="hidden" id="studs_text" name="studs_text" value="{{ studs_text or '' }}">
{% if error %}
<p class="input-error">{{ error }}</p>
{% endif %}
